<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.blue.dao.AdminDao">
  <select id="amList" resultType="com.spring.blue.vo.MemberVo">
    select * from membership order by idx desc limit #{cri.pageStartIndexNum}, #{cri.pageSize};
  </select>
  
  <update id="levelCheck">
    update membership set level=#{level} where mid=#{mid};
  </update>
</mapper>